<!DOCTYPE html>
<html id="html">
  <head>
    <title>jquery-ujs iframe</title>
    <script src="/vendor/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/vendor/qunit.js" type="text/javascript"></script>
    <script src="/vendor/rails.js" type="text/javascript"></script>
    <script src="/test/settings.js" type="text/javascript"></script>
    <script src="/test/data-method-iframe.js" type="text/javascript"></script>
  </head>

  <body id="body">

    <div id='fixtures-iframe'></div>

  </body>

</html>
