<% @title = "jquery-ujs iframe" %>

<%= test 'data-method-iframe' %>

<!-- 
  Following gets added to the div through data-method-iframe.js
  <a data-method='delete' href='/delete'>Destroy</a> 
-->  
<div id='fixtures-iframe'></div>
